# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
Backend/venv

# Alembic cache
alembic/__pycache__/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

